header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.nav__link {
  text-decoration: none;
  padding: 0.3rem;
  color: rgba(0, 0, 0, 0.466);
}
.nav {
  display: flex;
  justify-content: space-around;
}
